<router-outlet></router-outlet>

<app-menu-nav></app-menu-nav>
<!--app-cursos></app-cursos-->

<div class="container">
  <div class="jumbotron mt-3">
    <h1>Lista de cursos do portal <a [href]="nomePortal" target="blank">{{ nomePortal }}</a></h1>
    <ul>
      <li *ngFor="let curso of cursos"> {{ curso }}</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="form-group">
        <label for="select">Selecione uma classe:</label>
        <select class="form-control" id="select" #classe (change)="0">
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Alerta</option>
          <option value="alert-danger">Erro</option>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>
    </div>
    <div class="col-md-6 offset-md-3 div {{classe.value}}" role="alert">
      Texto com a cor do alert conforme o valor do combobox.
    </div>
    <div class="col-md-6 offset-md-3 alert alert-danger rodape" role="alert"
      [style.display]="classe.value == 'alert-danger' ? 'block':'none'">
      Texto aparece apenas em caso de Erro.
    </div>
    <div class="col-md-6 offset-md-3 ev-bd">
      <hr><hr><hr>
      <article>
        <h3 class="text-center">Event Binding</h3>
        <div>
          <button class="btn btn-success" (click)="clicado()">Clicar</button>
          <br><br>
          <input type="text" class="form-control"
            (keyup)="onKeyUp($event)"
            (keyup.enter)="salvarValor($event.target.value)"
            (blur)="salvarValor(campoInput.value)"
            #campoInput> <br>
          <p><b>Valor do input:</b> {{ evt }}</p>
          <p><b>Valor salvado:</b> {{ salvo }}</p>
        </div>
      </article>
      <p class="text-center" (mouseover)="sobreMouse()" (mouseout)="sobreMouse()" [class.decorado]="mouseSobre">
        Passe o mouse aqui em cima!
      </p>
      <hr><hr><hr>
      <article>
        <h3 class="text-center">Two-way Data Binding</h3>
        <div>
          <input type="text" class="form-control"
            [value]="nome"
            (input)="nome = $event.target.value"> <br>
          <p><b>Nome:</b> {{ nome }}</p>
          <input type="text" class="form-control"
            [ngModel]="nome"
            (ngModelChange)="nome = $event"> <br>
          <p><b>Nome:</b> {{ nome }}</p>
          <input type="text" class="form-control"
            [(ngModel)]="nome"> <br>
          <p><b>Nome:</b> {{ nome }}</p>
        </div>
      </article>
      <hr><hr><hr>
      <article>
        <h3 class="text-center">Input Properties</h3>
        <app-input-properties></app-input-properties>
      </article>
      <hr><hr><hr>
      <article>
          <h3 class="text-center">Diretivas</h3>
        <app-diretivas>
          <h3 class="titulo">Título</h3>
          <p class="corpo">Passando este texto do app-component para diretivas-component, através de ng-content.</p>
        </app-diretivas>
      </article>
    </div>
  </div>
</div>
