<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Curso Angular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.active]="aba == 'mapa'" (click)="aba = 'mapa'">Mapa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.active]="aba == 'lista'" (click)="aba = 'lista'">Lista</a>
      </li>
    </ul>
  </div>
</nav>
