<ul>
  <li *ngFor="let curso of cursos, let i=index">
    <span *ngIf="cursos.length < 10">0</span>{{ i + 1 }} - {{ curso }}
  </li>
</ul>

<h2>
  <i class="fa" [class.fa-star]="!favorito1" [class.fa-star-o]="favorito1" (click)="favoritar1()"></i>
  <span> - </span>
  <i class="fa" [ngClass]="{'fa-star': !favorito2, 'fa-star-o': favorito2}" (click)="favoritar2()"></i>
</h2>

<button class="btn"
  [style.backgroundColor]="ativo1 ? 'blue' : 'gray'"
  [style.color]="ativo1 ? 'white' : 'black'"
  [style.fontWeight]="ativo1 ? 'bold' : 'normal'"
  [style.fontSize]="TamanhoFonte + 'px'"
  (click)="mudarEstilo1()">
  Mudar estilo
</button>
<span> - </span>
<input type="text" [(ngModel)]="TamanhoFonte">
<span> - </span>
<button class="btn" [ngStyle]="{
  'backgroundColor': (ativo2 ? 'blue' : 'gray'),
  'color': (ativo2 ? 'white' : 'black'),
  'fontWeight': (ativo2 ? 'bold' : 'normal'),
  'fontSize': (TamanhoFonte + 'px')}"
  (click)="mudarEstilo2()">
  Mudar estilo
</button>

<hr>

<button class="btn btn-primary" (click)="content = 'um'">Conteudo 1</button> - 
<button class="btn btn-primary" (click)="content = 'dois'">Conteudo 2</button> - 
<button class="btn btn-primary" (click)="content = 'tres'">Conteudo 3</button>

<p [ngSwitch]="content">
  <span *ngSwitchCase="'um'">Conteúdo 1</span>
  <span *ngSwitchCase="'dois'">Conteúdo 2</span>
  <span *ngSwitchCase="'tres'">Conteúdo 3</span>
</p>

<hr>

<h1 *ngIf="teste; else outro">Conteúdo 1</h1>
<ng-template #outro>
  <h1>Conteúdo 2</h1>
</ng-template>

<hr>

<h5 class="card-title">Usando ng-content</h5>
<div class="card">
  <div class="card-title">
    <ng-content select=".titulo"></ng-content>
  </div>
  <div class="card-body">
    <ng-content select=".corpo"></ng-content>
  </div>
</div>